<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/estilos.css">
<link rel="stylesheet" href="../public/normalize.css/">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="icon" type="icon/png" href="../public/imagenes/logo.png">
<script src="https://kit.fontawesome.com/6bfc81dbf9.js" crossorigin="anonymous"></script>
    <title>Quienes Somos</title>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
            <img src="../public/imagenes/logo.png" alt="logo" width="140px" height="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-warning" aria-current="page" href="./index.html"><strong>Inicio</strong></a>
            </li>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-warning" href="./consultascontacto.html"><strong>Consultas</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="./consultascontacto.html"><strong>Contacto</strong></a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <br>

    <div class="card-group">
        <div class="card">
        <img src="../public/imagenes/card1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Quienes Somos</strong></h5>
            <p class="card-text "> <strong>MM Seguros es la empresa de se Seguros Generales dedicada para brindar una amplia gama de coberturas de riesgos, tanto para individuos, comercios y automotores.
            MM Seguros inicio sus actividades en el mercado en 2004 y es reconocido desde 1980 por la seccion de seguros de la caja de jubilaciones, subsidios y pensiones del personal del banco provincia de Buenos Aires.</strong>
            </p>
        </div>
        </div>
        <div class="card">
        <img src="../public/imagenes/card2.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class="card-title "><strong>Misión</strong></h5>
            <p class="card-text"><strong>Proveer a nuestras aseguradas y asegurados de coberturas acordes a sus necesidades garantizando profesionalismo, transparencia y calidad de servicio. Siempre con el compromiso de ser autosustentables y acompañar el desarrollo productivo de nuestra comunidad. </strong></p>
        </div>
        </div>
        <div class="card">
        <img src="../public/imagenes/card3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Visión</strong></h5>
            <p class="card-text"> <strong>Ser una compañia autosustentable que brinda un servicio de alta calidad a sus aseguradas, asegurados, productoras y productores, que instrumenta iniciativas y modalidades de trabajo respetando la igualdad de oportunidades y la inclusion, practicando altos estandares de transparencia y promoviendo el desarrollo productivo de la Provincia de Buenos Aires.</strong></p>
        </div>
        </div>
    </div>
    <br>
    <br>


<div class="container-fluid text-warning">
    <section>
        <p><strong> La entidad aseguradora dispone de un servicio de Atención al asegurado que atenderá las consultas y reclamos que presenten los tomadores de seguros, asegurados, beneficiarios, y/o derechohabitantes.</strong></p>
    </section>

    <section>
        <p><strong> El servicio de atención al Asegurado esta integrado por Responsable: Laureano Troilo 11-2290-9517- laureanotrilo@hotmail.com.</strong></p>
    </section>

    <section>
        <p><strong>En caso de que el reclamo no haya sido resuelto o haya sido desestimado, total o parcialmente, o que haya sido denegada su admisión , podrá comunicarse con superintendencia de seguros de la Nacion por Teléfono al 0800-666-1234, correo electrónico laureanotrilo@hotmail.com o Formulario Web. </strong></p>
    </section>
</div>

<br>
<br>

<div class="wrapper">
    
    <div class="row p-4 pb-3 bg-transparent text-white">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3 text-warning mb-2">Localidad</p>
            <p class="text-white text-secondary">Buenos Aires</p>
            <p class="text-white text-secondary"> Guernica Pte.Perón</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3 text-warning">Contacto</p>
            <div class="mb-2">
                <i class="fa-brands fa-whatsapp"></i>
            <a class="text-white text-secondary text-decoration-none" href="tel: 1122909517">Whatsapp: 11-2290-9517</a>
            </div>
            <div class="mb-2">
                <i class="fa-brands fa-instagram"></i>
                <a class="text-white text-secondary text-decoration-none" href="https://www.instagram.com/lauretroilo/">Instagram</a>
                </div>
        </div>
        <div class="col-xs-12 pt-3">
            <p class="text-white text-center"> Copyright - All Rights Reserved 2022</p>
        </div>
    </div>
</div>
</head>
<body>